# Auto detect text files and normalize line endings to LF on checkout
* text=auto eol=lf

# Explicitly declare text files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Notation for binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
